[mysqld]
#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
datadir=/mnt/data/mysql
binlog_format=ROW
character_set_server=utf8mb4 
collation_server=utf8mb4_unicode_ci
explicit_defaults_for_timestamp=1
innodb_file_per_table=OFF
innodb_flush_log_at_trx_commit=2
innodb_flush_neighbors=0
innodb_io_capacity=800
innodb_log_file_size=134217728
join_buffer_size=4194304
log_bin_trust_function_creators=1
log_slave_updates=1
lower_case_table_names=1
max_allowed_packet=134217728
max_heap_table_size=134217728
read_buffer_size=262144
read_rnd_buffer_size=524288
sync_binlog=0
table_definition_cache=5000
table_open_cache=10000
table_open_cache_instances=16
tmp_table_size=134217728
